/* Sidebar Mailbox Style */
.o_DiscussSidebarMailbox {
    padding: 10px !important;
}

/* Sidebar New Message Style */
.o_DiscussSidebarMailbox .o-starred-box .o_DiscussSidebarMailbox_counter{
    border-color: #0F5F8B;
    background-color: #fff;
    color: #0F5F8B;
}

/* Sidebar Category Message Style */
.o_DiscussSidebarCategory_header{
    background-color: #40404060;
    padding: 5px;
}
.o_DiscussSidebarCategory_header span,.o_DiscussSidebarCategory_header i{
    color: #fff;
}